body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
}
.logo {
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
    
}
.title {
    font-size: 30px;
    margin-bottom: 100px;
}
.button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-bottom: 100px;
}




