

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.search-bar {
    text-align: center;
    padding: 10px;
    background-color: #000000;
}
.search-input {
    width: 70%;
    padding: 5px;
}
.psicologo {
    background-color: #ffffff;
    border: 1px solid #d4c7c7;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.psicologo h3 {
    color: #000000;
}
.psicologo p {
    margin: 5px 0;
}
.psicologo a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
}
.chat-box {
    display: none;


}


